<body>
  <div class="main-section">
    <div class="image-column">
      <img class="login-car" src="http://localhost:4200/img/ranger.png" alt="Carro de login">
    </div>
    <div class="form-column">
      <div class="login">
        <h1 class="title">Boas-Vindas</h1>
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" class="login-forms">
          <div class="form-group">
            <input type="text" required #usuario="ngModel" class="input" id="usuario" name="usuario" placeholder="Login" ngModel>
          </div>
          <div class="form-group">
            <input required #senha="ngModel" type="password" class="input" id="senha" name="senha" placeholder="Senha" ngModel>
          </div>
          <button class="botao-login" [disabled]="loginForm.invalid">Entrar</button>
        </form>
        <div *ngIf="mensagemDeErro" class="mensagem-erro">
          {{ mensagemDeErro }}
        </div>
      </div>
    </div>
  </div>
</body>
